*.iml
.classpath
.project
*.ipr
*.iml
*.iws
target/
build/
bin/
.DS_Store
.idea
resource-version.json
*.tfstate*
.terraform/
.teamcity/*
docker-compose.yml
Dockerfile
Makefile
src/integration-test/*
azure.tf
variables.tf